/* @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:slnt,wght,CRSV@-4,100..900,0&display=swap'); */



@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:slnt,wght,CRSV@-4,100..900,0&family=Indie+Flower&display=swap');


/* fonts */
/* Indie Flower */
/* Bitcount Prop Single */

.bitcount {
  font-family: "Indie Flower", system-ui;
  font-optical-sizing: auto;
  font-weight: 800; /* choose 100–900 */
  font-style: normal;
  font-variant-numeric: tabular-nums; /* Keeps numbers the same width */
  text-transform: uppercase;
  font-variation-settings:
    "slnt" -4,
    "CRSV" 0,
    "ELSH" 0,
    "ELXP" 0;
  font-kerning: none;
  font-feature-settings: "kern" 0;
}
.bitcount span {
  will-change: opacity, filter;
}

@media (max-width: 480px) {
  .bitcount {
    letter-spacing: -0.05em; /* Slightly less aggressive on tiny screens */
  }
}

